@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-size: cover; /* Ensures the entire image fits within the viewport */
  background-position: center; /* Centers the image */
  /* background-repeat: no-repeat; Prevents the image from repeating */
}
